<table class="table table-striped">
	<thead>
		<th>File</th>
		<th>Status</th>	
	</thead>
	
	{% set job_info = (job_info or c.job_info) %}
	
	{% for job in job_info %}
		<tr>
			<td class="name" data-id="{{ job[2] }}">{{job[0]}}</td>
			<td class="status" data-id="{{ job[2] }}" data-status="{{job[1]}}">{{job[1]}}</td>
			<td><a class="btn btn-mini btn-success" href="{% url_for 'gsshaindex-fly', job_id=job[2] %}">Run</a></td>
			<td><a class="btn btn-mini btn-danger" href="{% url_for 'gsshaindex-delete', job_id=job[2] %}">Delete</a></td>
			<td><a class="btn btn-mini btn-info" href="{% url_for 'gsshaindex-results', job_id=job[2] %}">View Results</a></td>
		</tr>
	{% endfor %}
</table>