{% extends "page.html" %}

{% block breadcrumb_content %}
  <li><a href="{% url_for 'apps' %}">Apps</a></li>
  <li><a href="{% url_for 'gsshaindex' %}">GSSHA Index Map Editor</a></li>
  <li class="active"><a href="">Edit Index File</a></li>
{% endblock %}

{% block primary_content %}
  <div class="module">
    <div class="module-content">	
      <h1>Combine Index Maps to Replace: {{c.map_name}}</h1>
	  {% snippet "snippets/editable_google_map.html", options=c.editable_map %}
      <form id="submit_combo" method="post" action="{% url_for 'gsshaindex-combine-index', map_name=c.map_name, job_id=c.job_id %}">
	    	<h3>Select the two index maps you'd like to combine or the one that you'd like to replace it with.</h3>
			{% snippet "snippets/select_input.html", options=c.select_input1 %}
			{% snippet "snippets/select_input.html", options=c.select_input2 %}
	    </form>
    </div>
  </div>
{% endblock %}

{% block secondary_content %}
  <div class="module module-narrow module-shallow">
    <h2 class="module-heading">
      <i class="icon-list-alt"></i>
      Combine Index Maps
    </h2>
    <div class="module-content">
    	<p>Select which index maps you would like to combine to replace one of the current index maps.</p> 
    	<div id="indices-div" style="height:400px;overflow-y:auto">
    		<ul class="nav nav-pills nav-stacked">
	    		{% for name in c.resource_name %}
		    		<li {% if name==c.map_options %}class="indices active"{% else %}class="indices"{% endif %}><a href="javascript:void(0);" id="{{name}}"onclick="changeMap(this, '{{name}}', '{{c.job_id}}');">{{ name }}</a></li>
	    		{% endfor %}
			</ul>
    	</div>
    	<div style="padding:15px" align="center">
	    	<a href="{% url_for 'gsshaindex-select-index', job_id=c.job_id %}" class="btn btn-info">Back: Return to Index Maps</a>
	    </div> 
    	<div style="padding:15px" align="center">
	    	<button name="submit_combo" type="submit" class="btn btn-success" form="submit_combo">Next: Edit Information</button>
	    </div> 
    </div>
  </div>
{% endblock %}

{% block scripts %}
	{{ super() }}
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
		<script>
		function changeMap(element, map_name, job_id) {
			$('.indices').each(function(file_id){
				$(this).removeClass('active')
			});
			$('#index_name').val(map_name);
			$('.indices').each(function(){
				if ($(this).children('a').get(0).id == map_name){
					$(this).addClass('active');
				};	
			});
			TETHYS_EDIT_MAP.swapKmlService('/apps/gssha-index/get-index-maps/'+job_id+'/'+map_name);
		};
	</script>
	{% resource 'ckanext_apps/js/tethys_map.js' %}

	
{% endblock %}JSON with 