{% extends "page.html" %}

{% block breadcrumb_content %}
  <li><a href="{% url_for 'apps' %}">Apps</a></li>
  <li><a href="{% url_for 'gsshaindex' %}">GSSHA Index Map Editor</a></li>
  <li class="active"><a href="">Edit Index File</a></li>
{% endblock %}

{% block primary_content %}
  <div class="module">
    <div class="module-content">	
      <h1>Index Map: {{c.map_name}}</h1>
	  <form id="map_edits" method="post" action="{% url_for 'gsshaindex-submit-edits', map_name=c.map_name, job_id=c.job_id %}">
	  	{% snippet "snippets/editable_google_map.html", options=c.editable_map %}
	  </form>
	  <form id="description_edits" method="post" action="{% url_for 'gsshaindex-mapping-table', map_name=c.map_name, job_id=c.job_id , mapping_table = "0" %}">
		  <table class="table table-striped">
		  	<thead>
		  		<th colspan="2">ID</th>
		  		<th colspan="3">Description 1</th>
		  		<th colspan="3">Description 2</th>
		  	</thead>
		  	{% for indice in c.indices %}
			  <tr>
			  	<td colspan="2">{{ indice.index }}</td>
			  	<td colspan="3"><input type="text" class="input" name="indice-desc1-{{indice.id}}" value="{{ indice.description1 }}"></td>
				<td colspan="3"><input type="text" class="input" name="indice-desc2-{{indice.id}}" value="{{ indice.description2 }}"></td>
			  </tr>
		  	{% endfor %}
		  </table>
	  </form>
    </div>
  </div>
{% endblock %}

{% block secondary_content %}
  <div class="module module-narrow module-shallow">
    <h2 class="module-heading">
      <i class="icon-list-alt"></i>
      Edit Manually
    </h2>
    <div class="module-content">
    	<p>Draw polygons over locations of the index map that are changing and assign the areas ids. Click "Update Map" after drawing to update the index map and click "Next" after adding descriptions to continue and edit the mapping table.</p> 
    	<form name="submit_updates" method="post" action="{% url_for 'gsshaindex-submit-edits', map_name=c.map_name, job_id=c.job_id %}">
	    	<div style="padding:80px 15px 15px 15px" align="center">
	    		<button class="btn btn-primary" type="submit" name="editable_map_submit" form="map_edits">Update Map</button>
	    	</div>	
    	</form>
		<div style="padding:15px" align="center">
	    	<button name="submit_descriptions" type="submit" class="btn btn-success" form="description_edits">Next: Save and Edit Mapping Tables</button>
	    </div> 
    </div>
  </div>
{% endblock %}

{% block scripts %}
	{{ super() }}
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	{% resource 'ckanext_apps/js/tethys_map.js' %}

	
{% endblock %}JSON with 