{% extends "page.html" %}

{% block breadcrumb_content %}
  <li><a href="{% url_for 'apps' %}">Apps</a></li>
  <li><a href="{% url_for 'gsshaindex' %}">GSSHA Index Map Editor</a></li>
  <li class="active"><a href="">Edit Index File</a></li>
{% endblock %}

{% block primary_content %}
  <div class="module">
  	<form action="{% url_for 'gsshaindex-edit-index', map_name=c.map_name %}" method="post">
	  	<div id="downloadShapefileModal" class="modal hide fade" >
	  		<div class="modal-header">
	  			<h3>What shapefile would you like to download?</h3>
	  		</div>
	  		<div class="modal-body">
	  			<p>Select a shapefile from this list of shapefiles in the database:</p>
	  			{% snippet "snippets/select_input.html", options=c.shapefile_input %}
	  		</div>	  		
	  		<div class="modal-footer">
	  			<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	  			<button name="shapefile_download" class="btn" type="submit">Download</button>
	  		</div>
	  	</div>
	</form>
	
    <div class="module-content">
      {% snippet "snippets/message_box.html", options=c.modal_to_mapTables %}	
      <h1>Index Map: {{c.map_name}}</h1>
	  <form id="map_edits" method="post" action="{% url_for 'gsshaindex-submit-edits', map_name=c.map_name %}">
	  	{% snippet "snippets/editable_google_map.html", options=c.editable_map %}
	  </form>
	  <table class="table table-striped">
	  	<thead>
	  		<th>ID</th>
	  		<th>Description 1</th>
	  		<th>Description 2</th>
	  	</thead>
	  	{% for indice in c.indices %}
		  <tr>
		  	<td>{{ indice.index }}</td>
		  	<td>{{ indice.description1 }}</td>
		  	<td>{{ indice.description2 }}</td>
		  </tr>
	  	{% endfor %}
	  </table>
    </div>
  </div>
{% endblock %}

{% block secondary_content %}
  <div class="module module-narrow module-shallow">
    <h2 class="module-heading">
      <i class="icon-list-alt"></i>
      Edit Manually
    </h2>
    <div class="module-content">
    	<p>Draw polygons over locations that the index map is changing and assign it an id. Click Update to update the index map and Save to edit the mapping table.</p> 
    	<form name="submit_updates" method="post" action="{% url_for 'gsshaindex-submit-edits', map_name=c.map_name %}">
	    	<div style="padding:15px" align="center">
	    		<button class="btn btn-primary" type="submit" name="editable_map_submit" form="map_edits">Update Index Map</button>
	    	</div>	
	    	<input type="hidden" name="geometry">
    	</form>
		<div style="padding:15px" align="center">
	    	<a href="#modalToMapTables" data-toggle="modal" class="btn btn-success">Save Index Map</a>
	    </div> 
    </div>
  </div>
{% endblock %}

{% block scripts %}
	{{ super() }}
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	{% resource 'ckanext_apps/js/tethys_map.js' %}

	
{% endblock %}JSON with 