{% extends "page.html" %}

{% block breadcrumb_content %}
  <li><a href="{% url_for 'apps' %}">Apps</a></li>
  <li class="active"><a href="{% url_for(c.app_index) %}">{{ c.app_name }}</a></li>
{% endblock %}

{% block primary_content %}
  <div class="module">
    <div class="module-content">
      {% if c.model_list|count < 1 %}
      	<h1>No GSSHA Models</h1>
      {% else %}
      	<h1>GSSHA Model: {{c.model_list[0]['name']}}</h1>
        <h4>Model Description</h4>
	    <p id="description">{{c.model_list[0]['description']}}</p>
	  {% endif %}
	  
	  {% snippet "snippets/editable_google_map.html", options=c.editable_map %}
	  
    </div>
  </div>
{% endblock %}

{% block secondary_content %}
  <div class="module module-narrow module-shallow">
    <h2 class="module-heading">
      <i class="icon-globe"></i>
      Select a Model
    </h2>
    <div class="module-content">
    	{% if c.model_list|count < 1 %}
    		<p>There are no GSSHA models. Please upload some to your datasets or ensure your models are labeled with "Model" as "GSSHA". </p>
    	{% else %}
    		<p>Below is a list of GSSHA models stored in the datasets. Please select which one you would like to edit.</p>
    		<div id="models-div" style="height:400px;overflow-y:auto">
    			<ul class="nav nav-pills nav-stacked">
    				{% for model in c.model_list %}
    				<li {% if c.file_id==model['id'] %}class="models active"{% else %} class="models" {% endif %}><a href="javascript:void(0);" id="{{model['id']}}" onclick="changeMap(this, '{{model['id']}}', '{{model['description']}}', '{{model['name']}}', '{{model['url']}}');">{{model['name']}}</a></li>
    				{% endfor %}
    			</ul>
    		</div>
    	{% endif %}
    </div>
    {% if c.model_list|count > 0 %}
	    <form action="{% url_for 'gsshaindex' %}" method="post">
		    <div style="padding:15px" align="center">
		    	<button name="submit_gssha" class="btn btn-success btn-large" type="submit">Select</button>
		    	<input type="text" id="file_id" name="file_id" value= "{{c.file_id}}" style="display:none">
		    	<input type="text" id="file_name" name="file_name" value="{{c.file_name}}" style="display:none">
		    	<input type="text" id="file_url" name="file_url" value="{{c.file_url}}" style="display:none">
		    </div>
	    </form>
	    <div style="padding:15px" align="center">
		    <a href={% url_for'gsshaindex-status'%} class="btn btn-info">See Past Comparisons</a>
		</div>
	{% endif %}
    
  </div>
{% endblock %}

{% block scripts %}
	{{ super() }}
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script>
		function changeMap(element, file_id, description, file_name, file_url) {
			$('.models').each(function(file_id){
				$(this).removeClass('active')
			});
			$('#file_id').val(file_id);
			$('#file_name').val(file_name);
			$('#file_url').val(file_url);
			$('.models').each(function(){
				if ($(this).children('a').get(0).id == file_id){
					$(this).addClass('active');
					$('#description').text(description);
					$('h1').text("GSSHA Model: "+$(element).text())
				};	
			});
			TETHYS_EDIT_MAP.swapKmlService('/apps/gssha-index/get-mask-map/'+file_id);
		};
	</script>
	{% resource 'ckanext_apps/js/tethys_map.js' %}

	
{% endblock %}