{% extends "page.html" %}

{% block breadcrumb_content %}
  <li><a href="{% url_for 'apps' %}">Apps</a></li>
  <li><a href="{% url_for 'gsshaindex' %}">GSSHA Index Map Editor</a></li>
  <li class="active"><a href="">Edit Mapping Tables</a></li>
{% endblock %}

{% block primary_content %}
  <div class="module">
    <div class="module-content">	
      <h1>Index Map: {{c.map_name}}</h1>
	  	{% snippet "snippets/google_map.html", options=c.google_map %}
		  	<table class="table table-striped">
		  		<thead>
		  			<th colspan="1">ID</th>
		  			<th colspan="3">Description 1</th>
		  			<th colspan="3">Description 2</th>
		  			{% for variable in c.variables %}
		  			<th colspan="2">{{ variable }}</th>
		  			{% endfor %}
		  		</thead>
		  		<form method="post" id="submit_form" action="{% url_for 'gsshaindex-replace-values', map_name=c.map_name , job_id=c.job_id, mapping_table=c.map_table_number%}">
			  		{% for row in c.values %}
			  			{% set indice = c.indices[loop.index - 1]%}			  			
			  			<tr>
			  				<td colspan="1">{{ indice[0] }}</td>
				  			<td colspan="3">{{ indice.description1 }}</td>
				  			<td colspan="3">{{ indice.description2 }}</td>
			  			{% for var in row %}
					  		<td colspan="2"><input type="text" class="span1" name="var-{{var.id}}" value="{{ var.value }}"></td>
					  	{% endfor %}
				  		</tr>
			  		{% endfor %}
			  	</form>
			</table>
    </div>
  </div>
{% endblock %}

{% block secondary_content %}
  <div class="module module-narrow module-shallow">
    <h2 class="module-heading">
      <i class="icon-list-alt"></i>
      Edit Index Mapping Table Values
    </h2>
    <div class="module-content">
    	<p>Below is a list of mapping tables you can edit that are related to this index map. After making changes to the values, click "Save Edits". Then click "Next" to continue and review the mapping tables.</p> 
    	<div id="indices-div" style="height:240px">
	    	<ul class="nav nav-pills nav-stacked">
	    		{% for map in c.mapTables %}
				<li {% if map[2]==c.map_table_number %}class="active"{% else %}class=""{% endif %}><a style="word-wrap: break-word" href="{% url_for 'gsshaindex-mapping-table', map_name=c.map_name , job_id=c.job_id, mapping_table=map[2] %}">{{map[0]}}</a></li>
				{% endfor %}	
	    	</ul> 
    	</div> 
    	<div style="padding:15px" align="center">
	    	<button class="btn btn-primary" form="submit_form" name="submit_form" type="submit">Save Edits</button>
	    </div> 
    	<div style="padding:30px 15px 15px 15px" align="center">
	    	<a href="{% url_for 'gsshaindex-edit-index', job_id=c.job_id, map_name=c.map_name %}" class="btn btn-success">Back: Edit Map and Descriptions</a>
	    </div> 		
		<div style="padding:15px" align="center">
			<a href="{% url_for 'gsshaindex-submit-mapping-table', job_id=c.job_id, map_name=c.map_name, mapping_table="0" %}" class="btn btn-success">Next: Review</a>
	    </div> 
    </div>
  </div>
{% endblock %}

{% block scripts %}
	{{ super() }}
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	{% resource 'ckanext_apps/js/tethys_map.js' %}
	
{% endblock %}JSON with 