{% extends "page.html" %}

{% block breadcrumb_content %}
  <li><a href="{% url_for 'apps' %}">Apps</a></li>
  <li><a href="{% url_for 'gsshaindex' %}">GSSHA Index Map Editor</a></li>
  <li class="active"><a href="">Compiled Files</a></li>
{% endblock %}

{% block primary_content %}
  <div class="module">
    <div class="module-content">	
      <h1>Results</h1>
	  	{% snippet "snippets/highcharts_plot_view.html", options=c.hydrograph %}
    </div>
  </div>
{% endblock %}

{% block secondary_content %}
  <div class="module module-narrow module-shallow">
    <h2 class="module-heading">
      <i class="icon-list-alt"></i>
      Comparison Results
    </h2>
    <div class="module-content">
    	<p>These are the results of the GSSHA project comparison.</p> 
    	
		<div style="padding:15px" align="center">
	    	<a href="{% url_for 'gsshaindex' %}"class="btn btn-success">Return to Start</a>
	    </div> 
	    <div style="padding:15px" align="center">
	    <a href={% url_for'gsshaindex-status'%} class="btn btn-info">See Past Comparisons</a>
	</div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
	{{ super() }}
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	{% resource 'ckanext_apps/js/tethys_map.js' %}
	
{% endblock %}JSON with 