{% extends "page.html" %}

{% block breadcrumb_content %}
  <li><a href="{% url_for 'apps' %}">Apps</a></li>
  <li><a href="{% url_for 'gsshaindex' %}">GSSHA Index Map Editor</a></li>
  <li class="active"><a href="">Review Mapping Tables</a></li>
{% endblock %}

{% block primary_content %}
  <div class="module">
    <div class="module-content">	
      <h1>Index Map: {{c.map_name}}</h1>
	  	{% snippet "snippets/google_map.html", options=c.google_map %}
	  	<form>
		  	<table class="table table-striped">
		  		<thead>
		  			<th>ID</th>
		  			<th>Description 1</th>
		  			<th>Description 2</th>
		  			{% for variable in c.variables %}
		  			<th>{{ variable }}</th>
		  			{% endfor %}
		  		</thead>
		  		{% for row in c.values %}
		  			{% set indice = c.indices[loop.index - 1]%}			  			
		  			<tr>
		  				<td>{{ indice[0] }}</td>
			  			<td>{{ indice.description1 }}</td>
			  			<td>{{ indice.description2 }}</td>
		  			{% for var in row %}
				  		<td>{{ var.value }}</td>
				  	{% endfor %}
			  		</tr>
		  		{% endfor %}
			</table>
		</form>
    </div>
  </div>
{% endblock %}

{% block secondary_content %}
  <div class="module module-narrow module-shallow">
    <h2 class="module-heading">
      <i class="icon-list-alt"></i>
      Review Index Mapping Table Values
    </h2>
    <div class="module-content">
    	<p>Please review your edits to this index map's mapping tables and click "Next" to continue or "Back" to return to the editable mapping tables.</p> 
    	<div id="indices-div" style="height:350px">
	    	<ul class="nav nav-pills nav-stacked">
	    		{% for map in c.mapTables %}
	    		<li {% if map[2]==c.map_table_num %}class="active"{% else %}class=""{% endif %}><a style="word-wrap: break-word" href="{% url_for 'gsshaindex-submit-mapping-table', map_name=c.map_name , job_id=c.job_id, mapping_table=map[2] %}">{{map[0]}}</a></li>
				{% endfor %}	
	    	</ul> 
    	</div> 		
		<div style="padding:15px" align="center">
			<a href="{{ h.url_for('gsshaindex-mapping-table', map_name=c.map_name, job_id=c.job_id, mapping_table="0") }}" class="btn btn-success">Back: Edit Mapping Tables</a>
		</div>
		<div style="padding:15px" align="center">
	    	<a href="{{ h.url_for('gsshaindex-select-index',job_id=c.job_id) }}" data-toggle="modal" class="btn btn-success">Next: Save Index Map</a>
	    </div> 
    </div>
  </div>
{% endblock %}

{% block scripts %}
	{{ super() }}
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	{% resource 'ckanext_apps/js/tethys_map.js' %}
	
{% endblock %}JSON with 