{% extends "page.html" %}

{% block styles %}
	{{ super() }}
	{% resource 'ckanapp_gsshaindex/js/select2/select2.css' %}
{% endblock %}

{% block breadcrumb_content %}
  <li><a href="{% url_for 'apps' %}">Apps</a></li>
  <li><a href="{% url_for 'gsshaindex' %}">GSSHA Index Map Editor</a></li>
  <li class="active"><a href="">Select Shapefile</a></li>
{% endblock %}

{% block primary_content %}
  <div class="module">
  	    <div class="module-content">
      <h1>Shapefile: {{c.file_name}}</h1>
      <h4>Model Description</h4>
	  <p id="description">{{c.shapefile_list[0]['description']}}</p>
	  	{% snippet "snippets/editable_google_map.html", options=c.editable_map %}
    </div>
  </div>
  <form action="{% url_for 'gsshaindex-shapefile-upload', map_name=c.map_name, job_id=c.job_id, shapefile_id=c.shapefile_id %}" method="post" enctype="multipart/form-data">
	  <div id="select_files" class="modal hide fade">
	  	<div class="modal-header">
	  		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	    	<h3>Select Shapefile Files</h3>
	  	</div>
	  	<div class="modal-body">
	  		<p>Please select the shapefile's files, there are three types of file extensions required for a shapefile: .shp, .shx, and .dbf. If a .prj file is included, you won't have to specify the projection.</p>
	  		<input id="selected_files" type="file" name="shapefile_files" multiple>
	  		<p id="error_message" style="display:none; color:red; font-weight:bold">A shapefile must have files with the extensions of: .shp, .shx, and .dbf</p>
	  	</div>
	  	<div class="modal-footer">
	  		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	    	<a class="btn btn-primary" name="select_shapefile_files" href="javascript:void(0);" onclick="submit_files()">Upload Files</a>
	  	</div>
	  </div>

	  <div id="select_projection" class="modal hide fade">
	  	<div class="modal-header">
	  		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	    	<h3>Select Shapefile Projection</h3>
	  	</div>
	  	<div class="modal-body">
	  		<p>Please select the Shapefile projection.</p>
	  		<select id="projections" style="width:500px">
	  			{% for projection in c.projection_list %}
					<option value="{{projection['srid']}}">{{projection['short_desc']}}</option>
				{% endfor %}
	  		</select>
	  		<p id="error_projection" style="display:none; color:red; font-weight:bold">You must select a projection</p>
	  	</div>
	  	<div class="modal-footer">
	  		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	    	<a class="btn btn-primary" name="select_shapefile_files" href="javascript:void(0);" onclick="submit_projection()">Submit</a>
	  	</div>
	  </div>
	  
	  <div id="name_shapefile" class="modal hide fade">
	  	<div class="modal-header">
	  		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	    	<h3>Provide Shapefile Name and Description</h3>
	  	</div>
	  	<div class="modal-body">
	  		<input type="text" id="projection-text" style="display:none">
	  		<input type="text" id="projection-number" name="projection-number" style="display:none">
	  		
	  		<p>Please supply the shapefile name</p>
	  		<input id="shp-name" type="text" name="shapefile_name"style="width:500px">
	  		<p>Please give a shapefile description</p>
	  		<textarea id="shp-desc" rows="4" name="shapefile_description" style="width:500px"></textarea>
	  		<p id="error_name" style="display:none; color:red; font-weight:bold">The shapefile requires a name</p>
	  	</div>
	  	<div class="modal-footer">
	  		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	    	<button class="btn btn-primary" name="submit_shapefile_files" type="submit">Submit</button>
	  	</div>
	  </div>
  </form>
{% endblock %}

{% block secondary_content %}
  <div class="module module-narrow module-shallow">
    <h2 class="module-heading">
      <i class="icon-list-alt"></i>
      Select Shapefile
    </h2>
    <div class="module-content">
    	<p>Select the shapefile that you are interested in using for this project or click the button below to select one to upload.</p> 
    	<div id="shapefiles-div" style="height:400px;overflow-y:auto">
			<ul class="nav nav-pills nav-stacked">
				{% for shapefile in c.shapefile_list %}
				<li {% if c.file_id==shapefile['id'] %}class="shapefile active"{% else %} class="shapefile" {% endif %}><a href="javascript:void(0);" id="{{shapefile['id']}}" onclick="changeShapefile(this, '{{shapefile['id']}}', '{{shapefile['description']}}', '{{shapefile['name']}}', '{{shapefile['url']}}', '{{c.job_id}}', '{{c.map_name}}');">{{shapefile['name']}}</a></li>
				{% endfor %}
			</ul>
    	</div>
    	<div style="padding:15px" align="center">
	    	<a href="#select_files" class="btn btn-primary" data-toggle="modal">Upload Shapefile</a>
	    </div>
    	<form action="{% url_for 'gsshaindex-shapefile-index', map_name=c.map_name, job_id=c.job_id, shapefile_id=c.shapefile_id %}" method="post">
		    <div style="padding:15px" align="center">
		    	<button name="select_shapefile" class="btn btn-success" type="submit">Next: Edit Index Map by Shapefile</button>
		    	<input type="text" id="file_id" name="file_id" value= "{{c.file_id}}" >
		    	<input type="text" id="file_name" name="file_name" value="{{c.file_name}}" >
		    	<input type="text" id="file_url" name="file_url" value="{{c.file_url}}" style="display:none">
		    </div>
	    </form>	
    </div>
  </div>
{% endblock %}

{% block scripts %}
		
	{{ super() }}
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script>
	function changeShapefile(element, shapefile_id, shapefile_description, shapefile_name, shapefile_url, job_id, map_name) {
			var url = '/apps/gssha-index/'+job_id+'/show-overlay/'+shapefile_id;
			console.log(url);
			TETHYS_EDIT_MAP.swapOverlayService(url, true);
			
			$('.shapefile').each(function(shapefile_id){
				$(this).removeClass('active');
			});
			$('#file_id').val(shapefile_id);
			$('#file_name').val(shapefile_name);
			$('#file_url').val(shapefile_url);
			$('.shapefile').each(function(){
				if ($(this).children('a').get(0).id == shapefile_id){
					$(this).addClass('active');
					$('#description').text(shapefile_description);
					$('h1').text("Shapefile: "+$(element).text());
				};	
			});
			
			
		};
	</script>
	{% resource 'ckanext_apps/js/tethys_map.js' %}
	{% resource 'ckanapp_gsshaindex/js/select2/select2.js' %}
	{% resource 'ckanapp_gsshaindex/js/upload_shapefile.js' %}

	
{% endblock %}