{% extends "page.html" %}

{% block breadcrumb_content %}
  <li><a href="{% url_for 'apps' %}">Apps</a></li>
  <li><a href="{% url_for 'gsshaindex' %}">GSSHA Index Map Editor</a></li>
  <li class="active"><a href="">Select Index File</a></li>
{% endblock %}

{% block primary_content %}
  <div class="module">
    <div class="module-content">
    	<form action="{% url_for 'gsshaindex-zip-file', job_id=c.job_id %}" method="post">
	    	<div id="submit_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="submit_modalLabel" aria-hidden="true">
			  <div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			    <h3 id="submit_modalLabel">Ready to Submit?</h3>
			  </div>
			  <div class="modal-body">
			    <p>If you are done editing the index maps and are ready to submit the GSSHA model to be run, please specify a name and description. Otherwise, return and finish editing.</p>
			  	<label>New file name</label>
			  	<input name="new_name" class="span6" type="text" value="{{c.project_name}} (modified)">
			  	<label>New file description</label>
			  	<textarea name="new_description" class="span6" rows="4"></textarea>
			  </div>
			  <div class="modal-footer">
			    <button class="btn" data-dismiss="modal" aria-hidden="true">Return to Edit</button>
			    <button class="btn btn-primary" type="submit" name="submit_for_run">Submit</button>
			  </div>
			</div>	
		</form>
		
		<form action="{% url_for 'gsshaindex-select-index', job_id=c.job_id %}" method="post">
			<div id="edit_method" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
			  <div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			    <h3 id="submit_modalLabel">Method to Edit</h3>
			  </div>
			  <div class="modal-body">
			    <p>Select which method you would like to use to edit the index map</p>
			  	<label>Editing method</label>
			  	<select name="method">
			  		<option id="option1">Create polygons</option>
			  		<option id="option2">Download shapefile</option>
			  		<option id="option3">Merge index maps</option>
			  	</select>
			  	<input type="text" id="index_name" name="index_name" value= {{c.map_name}} style="display:none">
			  	<p id="editing_description">Manually draw polygons to change the index maps.</p>
			  </div>
			  <div class="modal-footer">
			    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
			    <button class="btn btn-primary" type="submit" name="select_index">Continue</button>
			  </div>
			</div>
		</form>

      <h1>Index Map: {{c.map_name}}</h1>
	  {% snippet "snippets/editable_google_map.html", options=c.editable_map %}
    </div>
  </div>
  
{% endblock %}

{% block secondary_content %}
  <div class="module module-narrow module-shallow">
    <h2 class="module-heading">
      <i class="icon-list-alt"></i>
      Select an Index File
    </h2>
    <div class="module-content">
    	<p>Below is a list of index maps for this GSSHA file. Please select one to edit.</p>
    	{% if c.resource_name|count < 1 %}
    		<p>Sorry, no index files were found for your GSSHA project.</p>
    	{% else %}
    		<div id="indices-div" style="height:400px;overflow-y:auto">
	    		<ul class="nav nav-pills nav-stacked">
		    		{% for name in c.resource_name %}
			    		<li {% if name==c.map_name %}class="indices active"{% else %}class="indices"{% endif %}><a href="javascript:void(0);" id="{{name}}"onclick="changeMap(this, '{{name}}', '{{c.job_id}}');">{{ name }}</a></li>
		    		{% endfor %}
    			</ul>
    		</div>
		    <div style="padding:15px" align="center">
		    	<a href="#edit_method" role="button" class="btn btn-primary" data-toggle="modal">Edit Selected Index Map</a>
		    	
		    </div>
		    <div style="padding:25px" align="center">
		    	<a href="#submit_modal" role="button" class="btn btn-success" data-toggle="modal">Submit New GSSHA File for Comparison</a>
    		</div>
    	{% endif %}
    </div>
  </div>
{% endblock %}

{% block scripts %}
	{{ super() }}
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script>
		function changeMap(element, map_name, job_id) {
			$('.indices').each(function(file_id){
				$(this).removeClass('active')
			});
			$('#index_name').val(map_name);
			$('.indices').each(function(){
				if ($(this).children('a').get(0).id == map_name){
					$(this).addClass('active');
				};	
			});
			TETHYS_EDIT_MAP.swapKmlService('/apps/gssha-index/get-index-maps/'+job_id+'/'+map_name);
		};
		
		$("select").change(function(){
			$("select option").each(function(){
				if ($(this).get(0).id == "option1"){
					$("#editing_description").text("Manually draw polygons to change the index maps.");
				}
				else if ($(this).get(0).id == "option2"){
					$("#editing_description").text("Select a shapefile to download which is then used to select what areas of the index map will be changed.");
				}
				else if ($(this).get(0).id == "option3"){
					$("#editing_description").text("Select two index maps to combine, or select one index map to replace this one.");
				}
			});
		});
	</script>
	{% resource 'ckanext_apps/js/tethys_map.js' %}
	
{% endblock %}JSON with 