{% extends "page.html" %}

{% block breadcrumb_content %}
  <li><a href="{% url_for 'apps' %}">Apps</a></li>
  <li><a href="{% url_for 'gsshaindex' %}">GSSHA Index Map Editor</a></li>
  <li class="active"><a href="">Compiled Files</a></li>
{% endblock %}

{% block primary_content %}
  <div class="module">
    <div class="module-content">	
      <h1>Submitted Projects</h1>
      	<div id="jobs-table-load"> <!-- Jobs table is loaded into this element via JavaScript -->
		    {% snippet 'gsshaindex/ajax/jobs_table_chunk.html', job_info=c.job_info %}
		</div>
    </div>
  </div>
{% endblock %}

{% block secondary_content %}
  <div class="module module-narrow module-shallow">
    <h2 class="module-heading">
      <i class="icon-list-alt"></i>
      File are Compiled
    </h2>
    <div class="module-content">
    	<p>This is a list of your submitted projects and their status.</p> 
    	
		<!-- <div style="padding:15px" align="center">
	    	<a id="go_to_results" href="{% url_for 'gsshaindex-results' , job_id = c.job_id%}" class="btn btn-primary disabled">Go to Results</a>
	    </div>  -->
    </div>
  </div>
{% endblock %}

{% block scripts %}
	{{ super() }}
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	{% resource 'ckanapp_gsshaindex/js/fly.js' %}
	
{% endblock %}JSON with 